.materials {
  position: absolute;
  top: -56px;
  z-index: -1;
  right: 0;
}
.materials2 {

  position: absolute;
  z-index: -1;
  width: 555px;
  height: 423px;
  transform: rotate(-180deg);
  opacity: 0.5;
  border-radius: 49px;
  left: 1px;
  top: 52px;
}

