* {
  padding: 0;
  margin: 0;
}

body {
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 86.13%, #fff 100%), url("../image/background.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center top;
}

.container {
  max-width: 1440px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  padding-top: 48px;
  margin-bottom: 92px;
}
header a {
  margin-left: 80px;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 28px;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  color: #fff;
  text-decoration: none;
}
header nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 65px;
}
header nav ul li {
  position: relative;
}
header nav ul li a {
  font-family: sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
}
header svg {
  margin-right: 80px;
}

.container {
  position: relative;
}
.container .banner {
  margin: auto;
  padding-bottom: 644px;
}
.container .banner .svg-element1 {
  position: absolute;
  top: 563px;
  left: 103px;
}
.container .banner .svg-element2 {
  position: absolute;
  top: 405px;
  left: 247px;
}
.container .banner .svg-element3 {
  position: absolute;
  left: 800px;
  top: 600px;
}
.container .banner .svg-element4 {
  position: absolute;
  right: 34px;
  top: 632px;
}
.container .banner article {
  margin: auto;
  text-align: center;
}
.container .banner article h1 {
  font-family: sans-serif;
  font-weight: 400;
  font-size: 80px;
  line-height: 130%;
  letter-spacing: -0.01em;
  text-transform: capitalize;
  color: #fff;
  max-width: 861px;
  margin-bottom: 14px;
}
.container .banner article .banner-h3 {
  opacity: 0.8;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 160%;
  color: #fff;
  margin-bottom: 43px;
}
.container .banner article .search {
  display: flex;
  margin: auto;
  align-items: center;
  border: 0.86px solid rgba(255, 255, 255, 0.6);
  border-radius: 42px;
  padding: 8px 8px 8px 20px;
  width: 100%;
  max-width: 344px;
  backdrop-filter: blur(8px);
  background: rgba(255, 255, 255, 0.15);
}
.container .banner article .search input {
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  text-align: left;
  color: #fff;
  opacity: 0.8;
}
.container .banner article .search .search-btn {
  border: none;
  border-radius: 50%;
  padding: 11px;
  width: 40px;
  height: 40px;
  background: #e58411;
}
.container .banner .svg-element2 ul {
  display: flex;
  gap: 8px;
  fill: rgba(255, 255, 255, 0.2);
  border: 0.86px solid rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(8px);
  list-style: none;
}
.container .choosing {
  display: flex;
  align-items: center;
  margin-left: 80px;
  margin-bottom: 120px;
}
.container .choosing .choosing-h3 {
  margin-right: 130px;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 42px;
  color: #1e1e1e;
  max-width: 242px;
}
.container .choosing .choosing-box {
  max-width: 284px;
  margin-right: 28px;
}
.container .choosing .choosing-box h4 {
  font-family: sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #1e1e1e;
  opacity: 0.9;
  margin-bottom: 20px;
}
.container .choosing .choosing-box p {
  font-family: sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 185%;
  color: #1e1e1e;
  margin-bottom: 14px;
}
.container .choosing .choosing-box a {
  font-family: sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 185%;
  color: #e58411;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 13px;
}

.product-container {
  background: #f7f7f7;
  max-width: 1440px;
  margin: auto;
  padding-top: 50px;
  text-align: center;
}
.product-container .top-bar {
  margin-bottom: 80px;
}
.product-container .top-bar p {
  font-family: sans-serif;
  font-weight: 400;
  font-size: 42px;
  color: #1e1e1e;
  margin-bottom: 32px;
}
.product-container .top-bar ul {
  display: flex;
  justify-content: center;
  gap: 21px;
  list-style: none;
}
.product-container .top-bar ul li a {
  text-decoration: none;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 185%;
  color: #1e1e1e;
  opacity: 0.8;
}
.product-container .products {
  display: flex;
  justify-content: center;
  gap: 42px;
  margin-bottom: 62px;
  text-align: left;
}
.product-container .products article {
  border-radius: 20px;
  max-width: 268px;
  height: 441px;
  background: linear-gradient(to top, #fff 50%, #fafafa 50%);
  position: relative;
}
.product-container .products article .chair {
  position: absolute;
  top: -37px;
  right: 26px;
}
.product-container .products article .chair:after {
  content: url("../image/321.svg");
  fill: rgba(0, 0, 0, 0.09);
  filter: blur(24.3715171814px);
}
.product-container .products article .products-p {
  margin-top: 260px;
  margin-left: 21.33px;
}
.product-container .products article h4 {
  margin-left: 21.33px;
  margin-right: 57.88px;
}
.product-container .products article a {
  margin-bottom: 37px;
  margin-left: 21.33px;
}
.product-container .products article .price {
  display: flex;
  align-items: center;
  margin-left: 21.33px;
  margin-right: 21px;
}
.product-container .products article .price svg {
  background: #0d1b39;
  border-radius: 50%;
  padding: 12px;
  width: 48px;
  height: 48px;
  margin-left: 121px;
}
.product-container a {
  display: inline-flex;
  gap: 13px;
  align-items: center;
  text-align: center;
  margin-bottom: 50px;
  text-decoration: none;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 185%;
  color: #e58411;
}

.container2 {
  margin: auto;
  max-width: 1440px;
}
.container2 article {
  max-width: 556px;
}
.container2 article h4 {
  font-family: var(--font5);
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.17em;
  text-transform: uppercase;
  color: #e58411;
  margin-bottom: 20px;
}
.container2 article h3 {
  font-family: var(--third-family);
  font-weight: 400;
  font-size: 42px;
  text-transform: capitalize;
  color: #1e1e1e;
  margin-bottom: 20px;
}
.container2 article p {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 185%;
  color: #1e1e1e;
  opacity: 0.8;
  margin-bottom: 20px;
}
.container2 article a {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 185%;
  color: #e58411;
  gap: 13px;
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-bottom: 123px;
}
.container2 .experiences {
  margin-top: 306px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 206px;
  align-items: center;
}
.container2 .experiences article {
  margin: 0 141px;
}
.container2 .experiences .back {
  background: #f7f7f7;
  border-radius: 20px;
  width: 495px;
  height: 422px;
  position: relative;
}
.container2 .experiences .back .img {
  z-index: -1;
  position: absolute;
}
.container2 .experiences .back .svg-img {
  z-index: -1;
  position: absolute;
  left: 195px;
  top: 72px;
}
.container2 .experiences .back .svg-img2 {
  z-index: -1;
  position: absolute;
  top: -66px;
}
.container2 .experiences2 {
  display: flex;
  align-items: center;
}
.container2 .experiences2 article {
  margin: 0 94px;
}
.container2 .experiences2 .img-background {
  overflow: hidden;
  background: #f7f7f7;
  transform: rotate(-180deg);
  border-radius: 20px;
  width: 495px;
  height: 422px;
}
.container2 .experiences2 .img-background img {
  background: url("../image/79.svg") 40%;
  transform: rotate(-180deg);
  width: 555px;
  height: 423px;
}
.container2 .reviews-text {
  display: block;
  margin-top: 242px;
}
.container2 .reviews-text p {
  font-family: var(--font5);
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.17em;
  text-transform: uppercase;
  text-align: center;
  color: #e58411;
  margin-bottom: 20px;
}
.container2 .reviews-text h3 {
  font-family: var(--third-family);
  font-weight: 400;
  font-size: 42px;
  text-transform: capitalize;
  text-align: center;
  color: #1e1e1e;
  margin-bottom: 60px;
}
.container2 .reviews {
  display: flex;
  justify-content: center;
  margin-bottom: 244px;
  gap: 39px;
}
.container2 .reviews .reviews1 {
  background: url("../image/reviews1.png");
  border-radius: 18px;
  width: 370px;
  height: 476px;
}
.container2 .reviews .account {
  background: url("../image/1.svg");
  border-radius: 18px;
  max-width: 334px;
  margin-top: 219px;
  margin-left: 18px;
  text-align: center;
  height: 239px;
}
.container2 .reviews .account:after {
  filter: blur(50px);
  background: url("../image/Iww.svg");
  border-radius: 44px;
  max-width: 300px;
  height: 380px;
  z-index: -1;
}
.container2 .reviews .account .account-p1 {
  font-family: var(--third-family);
  font-weight: 400;
  font-size: 18px;
  text-transform: capitalize;
  text-align: center;
  color: #1e1e1e;
  margin-bottom: 6px;
}
.container2 .reviews .account .account-p2 {
  margin-bottom: 22px;
  opacity: 0.6;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 12px;
  text-align: center;
  color: #1e1e1e;
}
.container2 .reviews .account .account-p3 {
  margin-bottom: 22px;
  margin-left: 42px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: #1e1e1e;
  opacity: 0.8;
  max-width: 252px;
}
.container2 .reviews .account img {
  margin-top: 8px;
}
.container2 .reviews .account ul {
  list-style: none;
  display: flex;
  gap: 7px;
  justify-content: center;
}
.container2 .reviews .account ul li a {
  text-decoration: none;
}
.container2 .reviews .reviews2 {
  background: url("../image/reviews2.png");
  border-radius: 18px;
  width: 370px;
  height: 476px;
}
.container2 .reviews .reviews3 {
  background: url("../image/reviews3.png");
  border-radius: 18px;
  width: 370px;
  height: 476px;
}

footer .container {
  background: #f7f7f7;
  justify-content: space-between;
}
footer .container .aside-container {
  display: flex;
  justify-content: center;
  margin: 118px 188px;
}
footer .container .aside-container .aside-first {
  max-width: 293px;
  margin-right: 152px;
}
footer .container .aside-container .aside-first a {
  text-decoration: none;
  font-family: var(--third-family);
  font-weight: 400;
  font-size: 28px;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  color: #1e1e1e;
}
footer .container .aside-container .aside-first p {
  opacity: 0.8;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #1e1e1e;
  margin-top: 29px;
}
footer .container .aside-container .aside {
  margin-right: 110px;
}
footer .container .aside-container h3 {
  font-family: var(--font4);
  font-weight: 400;
  font-size: 17px;
  letter-spacing: -0.01em;
  color: #f6973f;
  margin-bottom: 20px;
}
footer .container .aside-container ul {
  list-style: none;
}
footer .container .aside-container ul li {
  margin-bottom: 16px;
}
footer .container .aside-container ul li a {
  text-decoration: none;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #1e1e1e;
  opacity: 0.8;
}
footer .container .aside-container .aside-last .twitter:before {
  content: url("../image/twi.svg");
  margin-right: 9px;
}
footer .container .aside-container .aside-last .facebook:before {
  content: url("../image/facebook.svg");
  margin-right: 17px;
}
footer .container .aside-container .aside-last .insta:before {
  content: url("../image/004-instagram.svg");
  margin-right: 10px;
}
footer .container .aside-container .aside-last a {
  display: flex;
  align-items: flex-start;
  text-align: left;
}

/*# sourceMappingURL=Style.css.map */
