@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "fonts";


*{
  padding: 0;
  margin: 0;
}
body {
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 86.13%, #fff 100%), url("../image/background.png");
  background-repeat: no-repeat;
  background-position: top center;
  height: 1084px;
}
.container{
  max-width: 1440px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-but-wrap{
  display: none;
}
header{
  padding-top: 48px;
  margin-bottom: 92px;
  .logo{
      margin-left: 80px;
      font-family: "Gilroy-Bold", sans-serif;
      font-weight: 400;
      font-size: 28px;
      letter-spacing: 0.01em;
      text-transform: capitalize;
      color: #fff;
      text-decoration: none;
  }
    nav {
      ul {
        display: flex;
        align-items: center;
        list-style: none;
        justify-content: space-between;
        gap: 62px;
        li {
          a {
            font-family: 'Gilroy-Regular', sans-serif;
            font-weight: 400;
            font-size: 18px;
            color: #fff;
            text-decoration: none;
          }
          &:first-of-type a:after {
            content: url("../image/arrow-nav.svg");
            margin-left: 12px;
            transition: 0.5s;
          }
          &:hover:after{
            transform: rotate(180deg);
          }
        }
      }
    }
    svg {
      margin-right: 80px;
    }

}
.container {
  .banner {
    margin: auto;
    text-align: center;
    position: relative;
    article {
      justify-content: center;
      text-align: center;
      h1 {
        font-family: "Gilroy-Bold", sans-serif;
        font-weight: 400;
        font-size: 80px;
        line-height: 130%;
        letter-spacing: -0.01em;
        text-transform: capitalize;
        color: #fff;
        max-width: 861px;
        margin-bottom: 14px;
      }
      .banner-h3 {
        opacity: 0.8;
        font-family: 'Gilroy-Regular', sans-serif;
        font-weight: 400;
        font-size: 24px;
        line-height: 160%;
        text-align: center;
        color: #fff;
        margin-bottom: 43px;
      }
      .search {
        display: flex;
        margin: auto;
        align-items: center;
        border: 0.86px solid rgba(255, 255, 255, 0.6);
        border-radius: 42px;
        padding: 8px 8px 8px 20px;
        width: 100%;
        max-width: 344px;
        backdrop-filter: blur(8px);
        background: rgba(255, 255, 255, 0.15);
        .text {
          background: transparent;
          flex: 1;
          border: 0;
          outline: none;
          font-family: 'Gilroy-Regular', sans-serif;
          font-weight: 400;
          font-size: 18px;
          line-height: 150%;
          text-align: left;
          color: #fff;
          opacity: 0.8;
        }
        .search-btn {
          border: none;
          border-radius: 50%;
          padding: 11px;
          width: 40px;
          height: 40px;
          background: #e58411;
          cursor: pointer;
        }
      }
    }
    .svg-element {
      margin-bottom: 555px;
      .svg-element1 {
        svg {
          position: absolute;
          top: 545px;
          left: -174px;
        }
      }
      .svg-element2 {
        img {
          position: absolute;
          top: 405px;
          left: -40px;
        }
      }
      .svg-element3 {
        svg {
          position: absolute;
          left: 515px;
          top: 600px;
        }
      }
      .svg-element4 {
        svg {
          position: absolute;
          right: -254px;
          top: 632px;
        }
      }
    }
  }
}
  .choosing{
    display: flex;
    align-items: center;
    margin-left: 80px;
    margin-bottom: 120px;
    .choosing-h3{
      margin-right: 130px;
      font-family: 'Gilroy-Bold', sans-serif;
      font-weight: 400;
      font-size: 42px;
      color: #1e1e1e;
      max-width: 242px;
    }
    .choosing-box{
      max-width: 284px;
      margin-right: 28px;
      h4{
        font-family: 'Gilroy-Bold', sans-serif;
        font-weight: 400;
        font-size: 24px;
        color: #1e1e1e;
        opacity: 0.9;
        margin-bottom: 20px;
      }
      p{
        font-family: 'Gilroy-Regular', sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 185%;
        color: #1e1e1e;
        margin-bottom: 14px;
        opacity: 0.8;
      }
      a{
        font-family: sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 185%;
        color: #e58411;
        text-decoration: none;
        display: inline-flex;
        align-items: center;
        gap: 13px;
      }
    }
  }

.product-container{
  background: #f7f7f7;
  margin: auto;
  padding-top: 50px;
  .top-bar{
    margin-bottom: 80px;
    text-align: center;
    p{
      font-family: 'Gilroy-Bold', sans-serif;
      font-weight: 400;
      font-size: 42px;
      color: #1e1e1e;
      margin-bottom: 32px;
    }
    ul {
      display: flex;
      justify-content: center;
      list-style: none;
      background: #eee;
      border-radius: 44px;
      max-width: 348px;
      align-items: center;
      margin: auto;
      padding: 7px 19.5px;
      li {
        transition: 0.5s;
        padding: 5px 6.5px;
        a {
          text-decoration: none;
          font-family: 'Gilroy-Regular', sans-serif;
          font-weight: 400;
          font-size: 18px;
          line-height: 185%;
          color: #1e1e1e;
          opacity: 0.8;
          margin: 19.5px;
        }
        &:hover {
          border-radius: 32px;
          background: #fff;
        }
      }
    }
  }
  .products{
    display: flex;
    justify-content: center;
    margin: auto;
    max-width: 1440px;

    article{
      border-radius: 20px;
      max-width: 268px;
      background: linear-gradient(to top,  #fff 50%, #fafafa 50%);
      position: relative;
      margin: auto;
      text-align: center;
      .chair{
        margin-bottom: 26px;
        width: 217px;
        height: 255px;
      }
      .products-p{
        margin-top: 60px;
        margin-left: 21.33px;
        margin-bottom: 7px;
        font-family: "Inter", sans-serif;
        font-weight: 400;
        font-size: 16px;
        color: #8d8d8d;
        text-align: left;
      }
      h4{
        margin-left: 21.33px;
        margin-bottom: 6px;
        font-family: "Inter", sans-serif;
        font-weight: 600;
        font-size: 21px;
        color: #0d1b39;
        text-align: left;
      }
      ul{
        display: flex;
        justify-content: flex-start;
        list-style: none;
        margin-left: 21.33px;
        margin-right: 143.19px;
        li{
          a{
            padding: 4px;
          }
        }
      }
      .price{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 36.56px 21.33px 27.42px;
        font-family: "Inter", sans-serif;
        font-weight: 600;
        font-size: 21px;
        color: #0d1b39;
        a{
          svg {
            background: #0d1b39;
            border: 1.5px solid transparent;
            border-radius: 50%;
            padding: 12px;
            transition: 0.5s;
            &:hover path {
              fill: #0d1b39;
            }
            &:hover {
              background: none;
              border: 1.5px solid #0d1b39;
            }
          }
        }
        span{
          font-family: "Inter", sans-serif;
          font-weight: 600;
          font-size: 15px;
          color: #0d1b39;
          vertical-align: text-top;
        }
      }
    }
  }
  .view{
    display: flex;
    gap: 13px;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
    text-decoration: none;
    font-family: 'Gilroy-Medium', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 185%;
    color: #e58411;
  }
}
.container2 {
  margin: auto;
  max-width: 1440px;
  article {
    max-width: 556px;
    h4 {
      font-family: 'DM Sans', sans-serif;
      font-weight: 400;
      font-size: 18px;
      letter-spacing: 0.17em;
      text-transform: uppercase;
      color: #e58411;
      margin-bottom: 20px;
    }
    h3 {
      font-family: 'Gilroy-Bold', sans-serif;
      font-weight: 400;
      font-size: 42px;
      text-transform: capitalize;
      color: #1e1e1e;
      margin-bottom: 20px;
    }
    p {
      font-family: 'Gilroy-Regular', sans-serif;
      font-weight: 400;
      font-size: 18px;
      line-height: 185%;
      color: #1e1e1e;
      opacity: 0.8;
      margin-bottom: 20px;
    }
    a {
      font-family: 'Gilroy-Medium', sans-serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 185%;
      color: #e58411;
      gap: 13px;
      display: flex;
      align-items: center;
      text-decoration: none;
      margin-bottom: 123px;
    }
  }

  .experiences {
    margin-top: 306px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 206px;
    align-items: center;
    article {
      margin: 0 141px;
    }
    .back {
      position: relative;
      .img {
        z-index: -1;
        position: absolute;
      }
      .svg-img {
        z-index: -1;
        position: absolute;
        left: 195px;
        top: 72px;
      }
      .svg-img2 {
        z-index: -1;
        position: absolute;
        top: -66px;
        left: 0;
      }
    }
  }
  .experiences2 {
    display: flex;
    align-items: center;
    article {
      margin: 0 94px;
    }
    .img-background {
      position: relative;
      .materials {
        position: absolute;
        top: -56px;
        z-index: -1;
        right: 0;
      }
      .materials2 {
        position: absolute;
        z-index: -1;
        width: 418px;
        height: 423px;
        transform: rotate(-180deg);
        opacity: 0.5;
        border-radius: 49px;
        left: 27px;
        top: 132px;
      }
    }
  }
}
.container3 {
  margin: auto;
  max-width: 1440px;
  .reviews-text {
    display: block;
    margin-top: 242px;
    p {
      font-family: "DM Sans", sans-serif;
      font-weight: 400;
      font-size: 18px;
      letter-spacing: 0.17em;
      text-transform: uppercase;
      text-align: center;
      color: #e58411;
      margin-bottom: 20px;
    }
    h3 {
      font-family: 'Gilroy-Bold', sans-serif;
      font-weight: 400;
      font-size: 42px;
      text-transform: capitalize;
      text-align: center;
      color: #1e1e1e;
      margin-bottom: 60px;
    }
  }
  .reviews {
    display: flex;
    justify-content: center;
    margin-bottom: 244px;
    position: relative;
    align-items: center;
    .owl-item{
      text-align: center;
    }
    .owl-item active{
      width: auto;
      margin-right: 9px;
    }
    .owl-item cloned{
      width: auto;
      margin-right: 9px;
    }
    .account {
      position: absolute;
      top: 220px;
      left: 68px;
      right: 68px;
      max-width: 334px;
      text-align: center;
      backdrop-filter: blur(11px);
      background: linear-gradient(to top,  rgba(255, 255, 255, 0.84)85% , rgba(255, 255, 255, 0.84) 30%,);
      border-radius: 18px;
      .some{
        position: relative;
      }
      .reviews1-img {

        border-radius: 100%;
        width: 50px;
        height: 50px;
      }
    }

    .account-p1 {
      font-family: 'Gilroy-Bold', sans-serif;
      font-weight: 400;
      font-size: 18px;
      text-transform: capitalize;
      text-align: center;
      color: #1e1e1e;
      margin-bottom: 6px;
    }
    .account-p2 {
      margin-bottom: 22px;
      opacity: 0.6;
      font-family: 'Gilroy-Regular', sans-serif;
      font-weight: 400;
      font-size: 12px;
      text-align: center;
      color: #1e1e1e;
    }
    .account-p3 {
      margin-bottom: 22px;
      margin-left: 42px;
      text-align: center;
      font-family: 'Gilroy-Regular', sans-serif;
      font-weight: 400;
      font-size: 14px;
      color: #1e1e1e;
      opacity: 0.8;
      max-width: 252px;
    }
    ul {
      list-style: none;
      display: flex;
      gap: 7px;
      justify-content: center;
      margin-bottom: 17px;
      li {
        a {
          text-decoration: none;
        }
      }
    }
    .reviews1 {
      position: relative;
    }
    .reviews2 {
      position: relative;
    }
    .reviews3 {
      position: relative;
    }
  }
}


footer{
  background: #f7f7f7;
  .container{
    .aside-container{
      display: flex;
      justify-content: center;
      margin: 118px 188px ;
      .aside-first {
        max-width: 293px;
        margin-right: 152px;
        a{
          text-decoration: none;
          font-family: 'Gilroy-Bold', sans-serif;
          font-weight: 400;
          font-size: 28px;
          letter-spacing: 0.01em;
          text-transform: capitalize;
          color: #1e1e1e;
        }
        p{
          opacity: 0.8;
          font-family: 'Gilroy-Medium', sans-serif;
          font-weight: 400;
          font-size: 15px;
          line-height: 160%;
          color: #1e1e1e;
          margin-top: 29px;
        }
      }
      .aside {
        margin-right: 110px;
      }
        h3{
          font-family: 'DM Sans', sans-serif;
          font-weight: 400;
          font-size: 17px;
          letter-spacing: -0.01em;
          color: #f6973f;
          margin-bottom: 20px;
        }
        ul {
          list-style: none;
          li {
            margin-bottom: 16px;
            a {
              text-decoration: none;
              font-family: 'Gilroy-Medium', sans-serif;
              font-weight: 400;
              font-size: 15px;
              line-height: 160%;
              color: #1e1e1e;
              opacity: 0.8;
            }
          }
        }
      .aside-last{
        .twitter{
          &:before{
            content: url("../image/twi.svg");
            margin-right: 9px;
          }
        }
        .facebook{
          &:before{
            content: url("../image/facebook.svg");
            margin-right: 17px;
          }
        }
        .insta{
          &:before{
            content: url("../image/004-instagram.svg");
            margin-right: 10px;
          }
        }
        a{
          display: flex;
          align-items: flex-start;
          text-align: left;
        }
      }
    }
  }
  .last-p1{
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: -0.01em;
    color: #1e2833;
    opacity: 0.5;
  }
  .last{
    display: inline-flex;
    gap:40px;
    .last-p2{
    font-family: 'Gilroy-Medium', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #1e1e1e;
    opacity: 0.8;
  }
 }
}
.owl-carousel .owl-nav.disabled,
.owl-carousel .owl-dots.disabled {
  display: block;
}
.owl-carousel .owl-nav button.owl-next{
  span{
    content: url("../image/owl.svg");
    stroke-width: 2.17px;
    stroke: #1e1e1e;
    border-radius: 50%;
    padding: 16px 14px;
    box-shadow: 0 7px 20px 0 rgba(0, 0, 0, 0.06);
    background: #fff;
  }
}
.owl-carousel .owl-nav button.owl-prev{
  span{
    content: url("../image/owl.svg");
    transform: rotate(180deg);
    stroke-width: 2.17px;
    stroke: #1e1e1e;
    border-radius: 50%;
    padding: 16px 14px;
    box-shadow: 0 7px 20px 0 rgba(0, 0, 0, 0.06);
    background: #fff;
  }
}
.owl-prev,.owl-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.owl-prev{
  left: 15px;
}
.owl-next {
  right: 15px;
}
.owl-carousel .owl-item img{
  display: inline-block;
  width: auto;
}
