@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@font-face {
  font-family: "Gilroy-Bold";
  src: url("../Fonts/Gilroy-Bold.eot");
  src: url("../Fonts/Gilroy-Bold.eot?#iefix") format("embedded-opentype"), url("../Fonts/Gilroy-Bold.woff2") format("woff2"), url("../Fonts/Gilroy-Bold.woff") format("woff"), url("../Fonts/Gilroy-Bold.ttf") format("truetype"), url("../Fonts/Gilroy-Bold.svg#Gilroy-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy-Medium";
  src: url("../Fonts/Gilroy-Medium.eot");
  src: url("../Fonts/Gilroy-Medium.eot?#iefix") format("embedded-opentype"), url("../Fonts/Gilroy-Medium.woff2") format("woff2"), url("../Fonts/Gilroy-Medium.woff") format("woff"), url("../Fonts/Gilroy-Medium.ttf") format("truetype"), url("../Fonts/Gilroy-Medium.svg#Gilroy-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy-Regular";
  src: url("../Fonts/Gilroy-Regular.eot");
  src: url("../Fonts/Gilroy-Regular.eot?#iefix") format("embedded-opentype"), url("../Fonts/Gilroy-Regular.woff2") format("woff2"), url("../Fonts/Gilroy-Regular.woff") format("woff"), url("../Fonts/Gilroy-Regular.ttf") format("truetype"), url("../Fonts/Gilroy-Regular.svg#Gilroy-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy-Semibold";
  src: url("../Fonts/Gilroy-Semibold.eot");
  src: url("../Fonts/Gilroy-Semibold.eot?#iefix") format("embedded-opentype"), url("../Fonts/Gilroy-Semibold.woff2") format("woff2"), url("../Fonts/Gilroy-Semibold.woff") format("woff"), url("../Fonts/Gilroy-Semibold.ttf") format("truetype"), url("../Fonts/Gilroy-Semibold.svg#Gilroy-Semibold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
* {
  padding: 0;
  margin: 0;
}

body {
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 86.13%, #fff 100%), url("../image/background.png");
  background-repeat: no-repeat;
  background-position: top center;
  overflow: initial;
  height: 1084px;
}

.container {
  max-width: 1440px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  padding-top: 48px;
  margin-bottom: 92px;
}
header a {
  margin-left: 80px;
  font-family: "Gilroy-Bold", sans-serif;
  font-weight: 400;
  font-size: 28px;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  color: #fff;
  text-decoration: none;
}
header nav ul {
  display: flex;
  align-items: center;
  list-style: none;
}
header nav ul li a {
  font-family: "Gilroy-Regular", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
}
header nav ul li:first-of-type a:after {
  content: url("../image/arrow-nav.svg");
  margin-left: 12px;
  transition: 0.5s;
}
header svg {
  margin-right: 80px;
}

.container .banner {
  margin: auto;
  text-align: center;
  position: relative;
}
.container .banner article {
  justify-content: center;
  text-align: center;
}
.container .banner article h1 {
  font-family: "Gilroy-Bold", sans-serif;
  font-weight: 400;
  font-size: 80px;
  line-height: 130%;
  letter-spacing: -0.01em;
  text-transform: capitalize;
  color: #fff;
  max-width: 861px;
  margin-bottom: 14px;
}
.container .banner article .banner-h3 {
  opacity: 0.8;
  font-family: "Gilroy-Regular", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 160%;
  text-align: center;
  color: #fff;
  margin-bottom: 43px;
}
.container .banner article .search {
  display: flex;
  margin: auto;
  align-items: center;
  border: 0.86px solid rgba(255, 255, 255, 0.6);
  border-radius: 42px;
  padding: 8px 8px 8px 20px;
  width: 100%;
  max-width: 344px;
  backdrop-filter: blur(8px);
  background: rgba(255, 255, 255, 0.15);
}
.container .banner article .search .text {
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  font-family: "Gilroy-Regular", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  text-align: left;
  color: #fff;
  opacity: 0.8;
}
.container .banner article .search .search-btn {
  border: none;
  border-radius: 50%;
  padding: 11px;
  width: 40px;
  height: 40px;
  background: #e58411;
  cursor: pointer;
}
.container .banner .svg-element {
  margin-bottom: 555px;
}
.container .banner .svg-element .svg-element1 svg {
  position: absolute;
  top: 545px;
  left: -174px;
}
.container .banner .svg-element .svg-element2 img {
  position: absolute;
  top: 405px;
  left: -40px;
}
.container .banner .svg-element .svg-element3 svg {
  position: absolute;
  left: 515px;
  top: 600px;
}
.container .banner .svg-element .svg-element4 svg {
  position: absolute;
  right: -254px;
  top: 632px;
}

.choosing {
  display: flex;
  align-items: center;
  margin-left: 80px;
  margin-bottom: 120px;
}
.choosing .choosing-h3 {
  margin-right: 130px;
  font-family: "Gilroy-Bold", sans-serif;
  font-weight: 400;
  font-size: 42px;
  color: #1e1e1e;
  max-width: 242px;
}
.choosing .choosing-box {
  max-width: 284px;
  margin-right: 28px;
}
.choosing .choosing-box h4 {
  font-family: "Gilroy-Bold", sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #1e1e1e;
  opacity: 0.9;
  margin-bottom: 20px;
}
.choosing .choosing-box p {
  font-family: "Gilroy-Regular", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 185%;
  color: #1e1e1e;
  margin-bottom: 14px;
  opacity: 0.8;
}
.choosing .choosing-box a {
  font-family: sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 185%;
  color: #e58411;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 13px;
}

.product-container {
  background: #f7f7f7;
  margin: auto;
  padding-top: 50px;
}
.product-container .top-bar {
  margin-bottom: 80px;
  text-align: center;
}
.product-container .top-bar p {
  font-family: "Gilroy-Bold", sans-serif;
  font-weight: 400;
  font-size: 42px;
  color: #1e1e1e;
  margin-bottom: 32px;
}
.product-container .top-bar ul {
  display: flex;
  justify-content: center;
  list-style: none;
  background: #eee;
  border-radius: 44px;
  max-width: 348px;
  align-items: center;
  margin: auto;
  padding: 7px 19.5px;
}
.product-container .top-bar ul li {
  transition: 0.5s;
  padding: 5px 6.5px;
}
.product-container .top-bar ul li a {
  text-decoration: none;
  font-family: "Gilroy-Regular", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 185%;
  color: #1e1e1e;
  opacity: 0.8;
  margin: 19.5px;
}
.product-container .top-bar ul li:hover {
  border-radius: 32px;
  background: #fff;
}
.product-container .products {
  display: flex;
  justify-content: center;
  gap: 42px;
  margin-bottom: 62px;
  text-align: left;
}
.product-container .products article {
  border-radius: 20px;
  max-width: 268px;
  background: linear-gradient(to top, #fff 50%, #fafafa 50%);
  position: relative;
}
.product-container .products article .chair {
  position: absolute;
  top: -37px;
  right: 26px;
}
.product-container .products article .products-p {
  margin-top: 260px;
  margin-left: 21.33px;
  margin-bottom: 7px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #8d8d8d;
}
.product-container .products article h4 {
  margin-left: 21.33px;
  margin-bottom: 6px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 21px;
  color: #0d1b39;
}
.product-container .products article ul {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  margin-left: 21.33px;
  margin-right: 143.19px;
}
.product-container .products article ul li a {
  padding: 4px;
}
.product-container .products article .price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 36.56px 21.33px 27.42px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 21px;
  color: #0d1b39;
}
.product-container .products article .price a svg {
  background: #0d1b39;
  border-radius: 50%;
  padding: 12px;
  transition: 0.5s;
}
.product-container .products article .price a svg:hover path {
  fill: #0d1b39;
}
.product-container .products article .price a svg:hover {
  background: none;
  border: #0d1b39;
}
.product-container .products article .price span {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 15px;
  color: #0d1b39;
  vertical-align: text-top;
}
.product-container .view {
  display: flex;
  gap: 13px;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
  text-decoration: none;
  font-family: "Gilroy-Medium", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 185%;
  color: #e58411;
}

.container2 {
  margin: auto;
  max-width: 1440px;
}
.container2 article {
  max-width: 556px;
}
.container2 article h4 {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.17em;
  text-transform: uppercase;
  color: #e58411;
  margin-bottom: 20px;
}
.container2 article h3 {
  font-family: "Gilroy-Bold", sans-serif;
  font-weight: 400;
  font-size: 42px;
  text-transform: capitalize;
  color: #1e1e1e;
  margin-bottom: 20px;
}
.container2 article p {
  font-family: "Gilroy-Regular", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 185%;
  color: #1e1e1e;
  opacity: 0.8;
  margin-bottom: 20px;
}
.container2 article a {
  font-family: "Gilroy-Medium", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 185%;
  color: #e58411;
  gap: 13px;
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-bottom: 123px;
}
.container2 .experiences {
  margin-top: 306px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 206px;
  align-items: center;
}
.container2 .experiences article {
  margin: 0 141px;
}
.container2 .experiences .back {
  background: #f7f7f7;
  border-radius: 20px;
  width: 495px;
  height: 422px;
  position: relative;
}
.container2 .experiences .back .img {
  z-index: -1;
  position: absolute;
}
.container2 .experiences .back .svg-img {
  z-index: -1;
  position: absolute;
  left: 195px;
  top: 72px;
}
.container2 .experiences .back .svg-img2 {
  z-index: -1;
  position: absolute;
  top: -66px;
}
.container2 .experiences2 {
  display: flex;
  align-items: center;
}
.container2 .experiences2 article {
  margin: 0 94px;
}
.container2 .experiences2 .img-background {
  position: relative;
}
.container2 .experiences2 .img-background .materials {
  position: absolute;
  top: -56px;
  z-index: -1;
  right: 0;
}
.container2 .experiences2 .img-background .materials2 {
  position: absolute;
  z-index: -1;
  width: 418px;
  height: 423px;
  transform: rotate(-180deg);
  opacity: 0.5;
  border-radius: 49px;
  left: 27px;
  top: 132px;
}

.container3 .reviews-text {
  display: block;
  margin-top: 242px;
}
.container3 .reviews-text p {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.17em;
  text-transform: uppercase;
  text-align: center;
  color: #e58411;
  margin-bottom: 20px;
}
.container3 .reviews-text h3 {
  font-family: "Gilroy-Bold", sans-serif;
  font-weight: 400;
  font-size: 42px;
  text-transform: capitalize;
  text-align: center;
  color: #1e1e1e;
  margin-bottom: 60px;
}
.container3 .reviews {
  display: flex;
  justify-content: center;
  margin-bottom: 244px;
  gap: 39px;
  position: relative;
}
.container3 .reviews .account-p1 {
  font-family: "Gilroy-Bold", sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-transform: capitalize;
  text-align: center;
  color: #1e1e1e;
  margin-bottom: 6px;
}
.container3 .reviews .account-p2 {
  margin-bottom: 22px;
  opacity: 0.6;
  font-family: "Gilroy-Regular", sans-serif;
  font-weight: 400;
  font-size: 12px;
  text-align: center;
  color: #1e1e1e;
}
.container3 .reviews .account-p3 {
  margin-bottom: 22px;
  text-align: center;
  font-family: "Gilroy-Regular", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #1e1e1e;
  opacity: 0.8;
  max-width: 252px;
}
.container3 .reviews ul {
  list-style: none;
  display: flex;
  gap: 7px;
  justify-content: center;
}
.container3 .reviews ul li a {
  text-decoration: none;
}
.container3 .reviews .account {
  position: absolute;
  top: 220px;
  left: 18px;
  right: 18px;
  text-align: center;
}
.container3 .reviews .account .some {
  text-align: center;
  backdrop-filter: blur(11px);
  background: rgba(255, 255, 255, 0.84);
  max-width: 334px;
  height: 239px;
  border-radius: 18px;
  position: relative;
}
.container3 .reviews .account:after {
  background: url("../image/Iww.svg");
  backdrop-filter: blur(50px);
  max-width: 300px;
  height: 380px;
  z-index: -1;
}
.container3 .reviews .account .reviews1-img {
  background: url("../image/456.svg");
  border-radius: 100%;
  width: 50px;
  height: 55px;
}
.container3 .reviews .reviews1 {
  position: relative;
}
.container3 .reviews .reviews2 {
  position: relative;
}
.container3 .reviews .reviews3 {
  position: relative;
}

footer {
  background: #f7f7f7;
}
footer .container .aside-container {
  display: flex;
  justify-content: center;
  margin: 118px 188px;
}
footer .container .aside-container .aside-first {
  max-width: 293px;
  margin-right: 152px;
}
footer .container .aside-container .aside-first a {
  text-decoration: none;
  font-family: "Gilroy-Bold", sans-serif;
  font-weight: 400;
  font-size: 28px;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  color: #1e1e1e;
}
footer .container .aside-container .aside-first p {
  opacity: 0.8;
  font-family: "Gilroy-Medium", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #1e1e1e;
  margin-top: 29px;
}
footer .container .aside-container .aside {
  margin-right: 110px;
}
footer .container .aside-container h3 {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 17px;
  letter-spacing: -0.01em;
  color: #f6973f;
  margin-bottom: 20px;
}
footer .container .aside-container ul {
  list-style: none;
}
footer .container .aside-container ul li {
  margin-bottom: 16px;
}
footer .container .aside-container ul li a {
  text-decoration: none;
  font-family: "Gilroy-Medium", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #1e1e1e;
  opacity: 0.8;
}
footer .container .aside-container .aside-last .twitter:before {
  content: url("../image/twi.svg");
  margin-right: 9px;
}
footer .container .aside-container .aside-last .facebook:before {
  content: url("../image/facebook.svg");
  margin-right: 17px;
}
footer .container .aside-container .aside-last .insta:before {
  content: url("../image/004-instagram.svg");
  margin-right: 10px;
}
footer .container .aside-container .aside-last a {
  display: flex;
  align-items: flex-start;
  text-align: left;
}
footer .last-p1 {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: -0.01em;
  color: #1e2833;
  opacity: 0.5;
}
footer .last {
  display: inline-flex;
  gap: 40px;
}
footer .last .last-p2 {
  font-family: "Gilroy-Medium", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #1e1e1e;
  opacity: 0.8;
}

/*# sourceMappingURL=Style.css.map */
